body {
    font-family: sans-serif;
    text-align: center;
}

img {
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.version {
    display: inline-block;
    border: 2px solid black;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
}

.version h4 {
    margin-top: 0;
}